<div>

  <p id="notice"><%= notice %></p>

  <div class="navbar panel panel-default">

    <div class="container-fluid">

      <div class="navbar-header">

        <div class="navbar-brand">

          Water Cooler

          <small>Go ahead, add a splash of fun!</small>

        </div>

      </div>

      <div class="navbar-header navbar-right">

        <%= link_to new_message_path, :class=> 'btn btn-primary navbar-btn' do %>

          <span class="glyphicon glyphicon-plus"></span>

        <% end %>

      </div>

    </div>

  </div>

  <div>

    <% @messages.each do |message| %>

      <div class="panel panel-default">

        <div class="panel-body">

          <p class="lead">

            <%= message.what %>

          </p>

          <p class="text-muted">

            <i>

              <%= message.who %> said on <%= message.when.to_formatted_s( :short ) %>

            </i>

          </p>

          <!--<td><%= link_to 'Show', message %></td>-->

          <div>

            <%= link_to edit_message_path(message), :class=> 'btn btn-link' do %>

              <span class="glyphicon glyphicon-pencil"></span> Edit

            <% end %>

            or

            <%= link_to message, method: :delete, data: { confirm: 'Are you sure?' }, :class=> 'btn btn-link' do %>

              <span class="glyphicon glyphicon-remove"></span> Remove

            <% end %>

          </div>

        </div>

      </div>

    <% end %>

    <!--<%= link_to 'Add a little more chatter', new_message_path %>-->

  </div>

</div>
