<p id="notice"><%= notice %></p>

<p>
  <strong>Who:</strong>
  <%= @message.who %>
</p>

<p>
  <strong>What:</strong>
  <%= @message.what %>
</p>

<p>
  <strong>When:</strong>
  <%= @message.when %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
